In [2]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv('data.csv')

In [8]:
df.head()

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
0,708746,17/08/2017,17/08/2017,916,103916,30-34,M,15,17,17,7350.0,1,1.43,2.0,1.0
1,708749,17/08/2017,17/08/2017,916,103917,30-34,M,16,19,21,17861.0,2,1.82,2.0,0.0
2,708771,17/08/2017,17/08/2017,916,103920,30-34,M,20,25,22,693.0,0,0.00,1.0,0.0
3,708815,30/08/2017,30/08/2017,916,103928,30-34,M,28,32,32,4259.0,1,1.25,1.0,0.0
4,708818,17/08/2017,17/08/2017,916,103928,30-34,M,28,33,32,4133.0,1,1.29,1.0,1.0

In [9]:
df.isna().sum()

ad_id                    0
reporting_start          0
reporting_end            0
campaign_id              0
fb_campaign_id           0
age                      0
gender                   0
interest1                0
interest2                0
interest3                0
impressions              0
clicks                   0
spent                    0
total_conversion       382
approved_conversion    382
dtype: int64

In [6]:
df.sum().unique()

array([ 155229.3 ,  150793.48,  153733.24,  146940.03,  139719.77,
        145329.19, 2109457.  ])

In [16]:
df['ad_id'].sum()

1128439472

In [17]:

print("----Print number of unique values in each coloums----")
print()
for i in df.columns:
    print(i,'=====',df[i].nunique())

----Print number of unique values in each coloums----

ad_id ===== 1143
reporting_start ===== 14
reporting_end ===== 14
campaign_id ===== 7
fb_campaign_id ===== 490
age ===== 44
gender ===== 63
interest1 ===== 64
interest2 ===== 431
interest3 ===== 168
impressions ===== 1126
clicks ===== 97
spent ===== 509
total_conversion ===== 24
approved_conversion ===== 15

In [18]:
df.dropna(inplace=True)

In [19]:
df.isna().sum()

ad_id                  0
reporting_start        0
reporting_end          0
campaign_id            0
fb_campaign_id         0
age                    0
gender                 0
interest1              0
interest2              0
interest3              0
impressions            0
clicks                 0
spent                  0
total_conversion       0
approved_conversion    0
dtype: int64